GoogleService-Info.plist
**/google-services.json
**/xcuserdata/dulimarh*
Pods
.DS_Store
recycler/
**/**/deploymentTargetDropDown.xml
ios-livedata/ios-livedata.xcodeproj/project.xcworkspace/xcuserdata/dulimarh.xcuserdatad/UserInterfaceState.xcuserstate
ios-navigation-data/ios-navigation-data.xcodeproj/project.xcworkspace/xcuserdata/dulimarh.xcuserdatad/UserInterfaceState.xcuserstate
ios-navigation-data/ios-navigation-data.xcodeproj/xcuserdata/dulimarh.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcuserstate
/ios-swiftui-navigation-stack/ios-swiftui-navigation-stack.xcodeproj/xcuserdata
/ios-swiftui-navigation-stack/ios-swiftui-navigation-stack.xcodeproj/project.xcworkspace/xcuserdata
/firebase-auth/firebase-demo.xcodeproj/xcuserdata/dulimarh.xcuserdatad
/firebase-auth/firebase-demo.xcodeproj/project.xcworkspace/xcuserdata/dulimarh.xcuserdatad
/firebase-auth/firebase-demo.xcodeproj/project.xcworkspace/xcuserdata/dulimarh.xcuserdatad
/firebase-auth/firebase-demo.xcodeproj/project.xcworkspace/xcuserdata/dulimarh.xcuserdatad
/firebase-auth/firebase-demo.xcodeproj/project.xcworkspace/xcuserdata/dulimarh.xcuserdatad
/firebase-auth/firebase-demo.xcodeproj/xcuserdata/dulimarh.xcuserdatad
/firebase-auth/firebase-demo.xcodeproj/xcuserdata/dulimarh.xcuserdatad
/firebase-auth/firebase-demo.xcodeproj/xcuserdata/dulimarh.xcuserdatad/xcschemes
/firebase-auth/firebase-demo.xcodeproj/project.xcworkspace/xcuserdata/dulimarh.xcuserdatad
*.plist
